.venv
.ipynb*
.creds/**
.DS_Store
node_modules
cdk.context.json
.idea
**/.env
**/__pycache__/**
venv/
cdk/outputs.json
cdk/resources.txt
scripts/resources.txt
cdk/salt.txt
lambdas/api_key/common
lambdas/model_access/common
lambdas/quota/common